@model IEnumerable<BarApp1.Models.drinks>
@{
    ViewBag.Title = "Drinks";
}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- CSS Includes -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <style type="text/css">
        .field-validation-error {
            color: #ff0000;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Drinks</h2>
        <p>Beer $5 <select>
    <option value="1"> 1 </option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select> <button type="button">Purchase</button></p> 
        <p>Wine $5 <select>
    <option value="1"> 1 </option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
            </select>
    <button type="button">Purchase</button>
</p>
        <p>Apple Martini $5 <select>
            <option value="1"> 1 </option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            </select>   
        <button type="button">Purchase</button></p>
  
        </div>
</body>
</html> 
    
      