@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <form action="/action_page.php">Beer    <input type="text" name="Beer" value=""> </form>

</p> 
    
    
<p><form action="/action_page.php">Wine    <input type="text" name="Beer" value=""> </form>
    </p>

<p><form action="/action_page.php">Apple Martini   <input type="text" name="Beer" value=""><br> <input type="submit" value="Submit"> </form>
    </p>