@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Order your drinks here</p>
    <p><a href="http://localhost:56237/Home/About" class="btn btn-primary btn-lg">Menu &raquo;</a></p>
    <p class="lead"> Bartender view your queue here. </p>
    <p><a href="http://localhost:56237/Home/Contact" class="btn btn-primary btn-lg">Bartender order option &raquo;</a></p>

</div>

